body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Bruno Ace', sans-serif;

}

  header {
    color: white;
    padding: 10px;
    font-family: '', sans-serif;
    text-align: center;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px;
    font-family: '', sans-serif;
    text-align: center;
  }
  .nav {
    list-style-type: none; /* Remove default bullet points */
    display:inline-flex ; /* Arrange list items horizontally */
    justify-content:center ; /* Distribute items evenly */
    align-items: center ; /* Vertically center items */
    flex-wrap: wrap;
    font-size: small;
    padding: 0;
  }
  
  .nav li {
    margin: 10px; /* Add spacing between list items */
  }

  a {
    color: white;
  }
  
  .main {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
  }

  table {
    font-size: small;
    border-spacing: 10px;
  }
  
  .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Adjust the gap between images as needed */
    padding: 5px;
    min-width: 0;
    z-index: -50;
  }

  .content {
    padding: 10px;
    max-width: 600px;
    font-size: small;
    flex: 1;
  }
  
.subheader {
  color: rgb(112, 227, 248);
}

@media (max-width: 700px) {
  .images {
    position: fixed;
    opacity: 70%;
  }
}